@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lexend", sans-serif;
  font-family: "Manrope", sans-serif;
}
.btn:hover{
    background-color: #c5ec00;
    border-style:none
    
}

.navbar-expand-lg .navbar-nav {
  margin-left: 50px;
}
.navbar ul li a{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


color: #151B26;
}
.startProjectBtn{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

background: #FFFFFF;
box-shadow: 10px 22px 92px rgba(27, 29, 33, 0.06);
border-radius: 21px;

text-align: center;

color: #151B26;
}
.d-flex {
  margin-right: 50px;
}
.startProjectBtn{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
background: #FFFFFF;
box-shadow: 10px 22px 92px rgba(27, 29, 33, 0.06);
border-radius: 21px;

text-align: center;

color: #151B26;
}

/* Hero Section css Start*/

.hero_section h2 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 76px;
  color: #151b26;
  margin-top: 100px;
}

.hero_section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  /* or 164% */

  color: #8c8e92;
}

.hero_section .letsBtn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  color: #151b26;
  background: #fff;
  box-shadow: 4px 20px 44px rgba(197, 236, 0, 0.3);
  border-radius: 28px;
}

.hero_section .portfolioBtn{
    
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
background: #FFFFFF;
border: 1px solid #E8E8E8;
border-radius: 28px;
padding: 10px;
text-align: center;

color: #151B26;

}

.hero_section .letsBtn:hover{
    background-color: #c5ec00;
    border:none;
}
.hero_section .portfolioBtn:hover{
    background-color: #c5ec00;
    border:none;
}
.hero_section img{
    margin-top: -60px;
}

/* Hero Section css End*/

.featured_section{
    padding-top: 100px;
    background: #FAFAFA;
}
.featured_border {
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
  margin-top: 50px;
}
.featured_second_section{
  padding-top: 100px;
  background: #FAFAFA;
  padding-bottom: 100px;
  height: 600px;
}
.featured_second_section h3{
  font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 62px;
color: #151B26;
}
.prev_borderline {
  width: 64px;
  height: 5px;
  background-color: #ECCF00;
  position: absolute;
  margin-top: 33px;
  margin-left: -79px;
}
.featured_second_section p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #979797;
padding-bottom: 50px;
}
.background_border{

  width: 100%;
  height: 250px;
  background-color: #c5ec00;
}
.fetured {
  width: 100%;
  margin-top: -235px;
  z-index: 10000;
  margin-left: -14px;
}

/* Featured Section Css Start*/

/* Portfolio Css Section Start*/
.portfolio_section{
  padding-top: 250px;
  padding-bottom: 100px;
}
.portfolio_section h6{
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
letter-spacing: 1.14286px;
text-transform: uppercase;
color: #ECCF00;
}
.portfolio_section h3{
  font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 62px;
color: #151B26;
margin-top: 20px;

}
.portfolio_section p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #979797;
margin-top: 50px;
}
.portfolio_gallery{
  padding-top: 100px;
}
.portfolio_gallery h2{
  font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-decoration-line: underline;

color: #151B26;

}
.portfolio_gallery p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #979797;
}

/* Portfolio Css Section End*/
#demo{
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto;
}
.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}
@media(max-width:767px){
  .carousel-caption {
      position: initial;
      z-index: 10;
      padding: 3rem 2rem;
      color: rgba(78, 77, 77, 0.856);
      text-align: center;
      font-size: 0.7rem;
      font-style: italic;
      font-weight: bold;
      line-height: 1.5rem;
  }
}
.carousel-caption img{
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}
@media(max-width:767px){
  .carousel-caption img{
      width: 4rem;
      border-radius: 4rem;
      margin-top: 1rem;
  }
}
#image-caption{
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media(max-width:767px){
  #image-caption{
      font-style: normal;
      font-size: 0.6rem;
      margin-top: 0.5rem;
  }
}
i{
  background-color: rgb(223, 56, 89);
  padding: 1.4rem;
}
@media(max-width:767px){
  i{
      padding: 0.8rem;
  }
}
.carousel-control-prev{
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-prev,.carousel-control-next{
  transition: none;
  opacity: unset;
}
